*.log
*.fdb_latexmk
*.fls 
*.out
*.synctex.gz 
*.toc
*.aux
*.bib
*.run.xml
*.bbl
*.blg
**/adaptive control with prof serrani
**/Le-Gorrec
**/ML
**/MSMS
/RTOS/*RTOS
**/Mobile Robotics
**/MM4A
script.sh
*lazygit
